<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://use.fontawesome.com/be1ba39dfe.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/books.css')}}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <!-- <title>Books</title> -->
    </head>
    <body>
        <div class="mana">
            <header>
                <h2 class="logo">LookABook</h2>
                <nav class="navigation">
                    <a href="{{ url_for('index')}}" class="active">Home</a>
                    <a href="{{ url_for('books')}}">Books</a>
                    <a href="{{ url_for('login')}}">Login</a>
                    <a href="{{ url_for('register')}}">Register</a>
                    <input type="text" placeholder="Ready to LookABook?">
                </nav>
          
                </div>
            </header>
        </div>


        <div class="container">
            <div id="card" class="card">
            <img src="{{ url_for('static', filename='img/bookpic/img_1.jpg') }}" class="card-img">
            <div class="card-body">
                <h1 class="card-title"> The Alchemist</h1>
                <p class="authors"> 
                    Athors: Paulo Coelho </p>
                <p class="discription"> 
                    Description: </br>
                    The Alchemist is a novel </br>
                    by Brazilian author Paulo </br>
                    Coelho which was first </br>
                    published in 1988. Originally </br>
                    written in Portuguese, it </br>
                    became a widely translated </br>
                    international bestseller. 
                </p>
            </div>
        </div>

        <div id="card" class="card">
            <img src="{{ url_for('static', filename='img/bookpic/img_2.jpg') }}" class="card-img">
            <div class="card-body">
                <h1 class="card-title"> The Alchemist</h1>
                <p class="authors"> 
                    Athors: Paulo Coelho </p>
                <p class="discription"> 
                    Description: </br>
                    The Alchemist is a novel </br>
                    by Brazilian author Paulo </br>
                    Coelho which was first </br>
                    published in 1988. Originally </br>
                    written in Portuguese, it </br>
                    became a widely translated </br>
                    international bestseller. 
                </p>
            </div>
        </div>


        <div id="card" class="card">
            <img src="{{ url_for('static', filename='img/bookpic/img_9.jpg') }}" class="card-img">
            <div class="card-body">
                <h1 class="card-title"> The Alchemist</h1>
                <p class="authors"> 
                    Athors: Paulo Coelho </p>
                <p class="discription"> 
                    Description: </br>
                    The Alchemist is a novel </br>
                    by Brazilian author Paulo </br>
                    Coelho which was first </br>
                    published in 1988. Originally </br>
                    written in Portuguese, it </br>
                    became a widely translated </br>
                    international bestseller. 
                </p>
            </div>
        </div>
        </div>


                <!-- Mrunal's 2nd/3 section -->
                <div class="container">
                    <div id="card" class="card">
                    <img src="{{ url_for('static', filename='img/bookpic/img_5.jpg') }}" class="card-img">
                    <div class="card-body">
                        <h1 class="card-title"> The Alchemist</h1>
                        <p class="authors"> 
                            Athors: Paulo Coelho </p>
                        <p class="discription"> 
                            Description: </br>
                            The Alchemist is a novel </br>
                            by Brazilian author Paulo </br>
                            Coelho which was first </br>
                            published in 1988. Originally </br>
                            written in Portuguese, it </br>
                            became a widely translated </br>
                            international bestseller. 
                        </p>
                    </div>
                </div>
        
                <div id="card" class="card">
                    <img src="{{ url_for('static', filename='img/bookpic/img_6.jpg') }}" class="card-img">
                    <div class="card-body">
                        <h1 class="card-title"> The Alchemist</h1>
                        <p class="authors"> 
                            Athors: Paulo Coelho </p>
                        <p class="discription"> 
                            Description: </br>
                            The Alchemist is a novel </br>
                            by Brazilian author Paulo </br>
                            Coelho which was first </br>
                            published in 1988. Originally </br>
                            written in Portuguese, it </br>
                            became a widely translated </br>
                            international bestseller. 
                        </p>
                    </div>
                </div>
        
        
                <div id="card" class="card">
                    <img src="{{ url_for('static', filename='img/bookpic/img_7.jpg') }}" class="card-img">
                    <div class="card-body">
                        <h1 class="card-title"> The Alchemist</h1>
                        <p class="authors"> 
                            Athors: Paulo Coelho </p>
                        <p class="discription"> 
                            Description: </br>
                            The Alchemist is a novel </br>
                            by Brazilian author Paulo </br>
                            Coelho which was first </br>
                            published in 1988. Originally </br>
                            written in Portuguese, it </br>
                            became a widely translated </br>
                            international bestseller. 
                        </p>
                    </div>
                </div>
                </div>
        

                    <!-- Mrunal's 3rd/3 section -->
        <div class="container">
            <div id="card" class="card">
            <img src="{{ url_for('static', filename='img/bookpic/img_8.jpg') }}" class="card-img">
            <div class="card-body">
                <h1 class="card-title"> The Alchemist</h1>
                <p class="authors"> 
                    Athors: Paulo Coelho </p>
                <p class="discription"> 
                    Description: </br>
                    The Alchemist is a novel </br>
                    by Brazilian author Paulo </br>
                    Coelho which was first </br>
                    published in 1988. Originally </br>
                    written in Portuguese, it </br>
                    became a widely translated </br>
                    international bestseller. 
                </p>
            </div>
        </div>

        <div id="card" class="card">
            <img src="{{ url_for('static', filename='img/bookpic/img_9.jpg') }}" class="card-img">
            <div class="card-body">
                <h1 class="card-title"> The Alchemist</h1>
                <p class="authors"> 
                    Athors: Paulo Coelho </p>
                <p class="discription"> 
                    Description: </br>
                    The Alchemist is a novel </br>
                    by Brazilian author Paulo </br>
                    Coelho which was first </br>
                    published in 1988. Originally </br>
                    written in Portuguese, it </br>
                    became a widely translated </br>
                    international bestseller. 
                </p>
            </div>
        </div>


        <div id="card" class="card">
            <img src="{{ url_for('static', filename='img/bookpic/img_4.jpg') }}" class="card-img">
            <div class="card-body">
                <h1 class="card-title"> The Alchemist</h1>
                <p class="authors"> 
                    Athors: Paulo Coelho </p>
                <p class="discription"> 
                    Description: </br>
                    The Alchemist is a novel </br>
                    by Brazilian author Paulo </br>
                    Coelho which was first </br>
                    published in 1988. Originally </br>
                    written in Portuguese, it </br>
                    became a widely translated </br>
                    international bestseller. 
                </p>
            </div>
        </div>
        </div>  
    </body>
</html>